<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Simple Chat app</title>
</head>

<body>
    <header>
        <a href="https://github.com/Remedies/simple-chat-app"><img loading="lazy" width="149" height="149"
                src="https://github.blog/wp-content/uploads/2008/12/forkme_left_red_aa0000.png?resize=149%2C149"
                class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
        <h1>Chat app using Sockets.io</h1>
    </header>

    <section class="container">
        <div class="row">
            <div id="chat-box-container" class="col-md-6">
                <div id="chat-box">
                </div>
                <div id="chat-status">
                </div>
            </div>

            <form action="submit" id="user-actions" class="col-md-6">
                <label for="handle">Handle:</label>
                <input type="text" name="handle" id="handle-box">
                <label for="message">Message:</label>
                <textarea type="text" name="message" id="message-box" rows="3" cols="30"></textarea>
                <button id="send-button">
                    Send
                </button>
            </form>

        </div> <!-- row -->
    </section> <!-- container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA=="
        crossorigin="anonymous"></script>
    <script src="./js/app.bundle.js"></script>
</body>

</html>