<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" />
    <title>Simple Chat app</title>
</head>

<body>
    <div>
        <h1 id="header">Simple chat application using Sockets.io</h1>
    </div>
    <div id="chat-box">
        <div id="chat-status">

        </div>
    </div>
    <div id="user-actions">
        <form action="submit">
            <label for="handle">Handle:</label>
            <input type="text" name="handle" id="handle-box">
            <label for="message">Message:</label>
            <textarea type="text" name="message" id="message-box" rows="10" cols="30"></textarea>
            <button id="send-button">
                Send
            </button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA=="
        crossorigin="anonymous"></script>
    <script src="./js/sockets.js"></script>

</body>

</html>